@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* colors: #4f6ae6 #8d9bdf7d */

/* I changed the sizes of some aspects because I thought they looked better, I marked them with comments */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px; /* Used 18px instead of 15px */
  line-height: 27px;
  margin: auto;
}
header {
  position: absolute;
  display: inline-block;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.logo {
  width: 30%;
  float: left;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  position: relative;
}
.logo a {
  text-decoration: none;
  color: #4f6ae6;
}
nav {
  float: right;
  position: relative;
  width: 70%;
}
nav ul {
  list-style-type: none;
  display: inline-block;
  text-align: center;
}
nav ul li {
  font-size: 1.5em;
  float: left;
  margin: 50px;
  color: #4f6ae6;
}
.banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  width: 100%;
  height: fit-content;
  padding-bottom: 135px;
}
.banner-content {
  padding-top: 200px;
  padding-left: 25%;
  padding-right: 25%;
}
.banner-content h1 {
  font-size: 75px;
  color: #4f6ae6;
  line-height: 200%;
}
.banner-content p {
  font-size: 40px;
  line-height: 125%;
}
.call-to-action {
  background-color: #4f6ae6;
  width: fit-content;
  padding: 1em;
  border-radius: 2em;
  margin-top: 2em;
}
.call-to-action a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  vertical-align: middle;
  font-weight: 600;
}
main {
  margin-left: 10%;
  margin-right: 10%;
}
.content-left {
  width: 60%;
  padding-right: 5%;
  padding-top: 50px;
  float: left;
  line-height: 200%;
}
.content-left h1 {
  font-size: 40px;
  line-height: 200%;
  color: #4f6ae6;
}
.img-right {
  width: 40%;
  padding-top: 50px;
  float: right;
}
.img-right img {
  width: 70%;
  float: right;
}
.img-left {
  width: 50%;
  padding-top: 50px;
  float: left;
}
.img-left img {
  width: 80%;
}
.content-right {
  width: 50%;
  padding-top: 100px;
  padding-left: 5%;
  float: right;
  line-height: 200%;
}
.boxes {
  margin-top: 50px;
}
.boxes section {
  float: left;
  width: 25%;
  margin: 4%;
  text-align: center;
  margin-top: 100px;
  padding: 50px;
  line-height: 200%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
.buttons {
  margin-top: 100px;
}
.buttons section {
  width: 20%;
  margin: 2.5%;
  float: left;
  text-align: center;
  padding: 50px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  min-height: 250px; /* Used 250px instead of 300px */
}
footer {
  background-image: url(../images/footer.png);
  background-size: cover;
  padding-top: 300px; /* Used 300px instead of 200px */
  height: 60vh;
  text-align: center;
}
